body{
    background-color: #302e2b ;
}
.demo1{
    outline-color: red; /* Màu đỏ */
    outline-width: 3px; /* Độ dày 3px */
    outline-style: dashed; /* Đường viền đứt */}

#chatPrivateContent{
    overflow-x: auto;
}
.select-option{
    text-align: center;
} 
.input-game-mode{
    height: 100%;
    width: 50%;
    margin-right: 5%;
}
.imgPromotion{
    width: 18%;
    margin: 3%;

}
.clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 25px;
  }
.w-110{
    width: 110px;
}
.time {
    padding: 0.2vw;
    border-radius: 3px;
    background: #00816a;
    display: inline-block;
  }
  
@media (min-width: 576px) {
    .select-button{
        /* display: block;  */
        margin: 2vh 0;
        width: 24vw;
        height: 3vw;
        background-color: #dad8d6;
    }
    .select-button:hover{
        background-color: #e7e6e5;
    }
    .play-button{
        /* display: block;  */
        margin: 2vh 0;
        width: 24vw;
        height: 3vw;
        font-weight: bolder;
        color: white;
        /* font-size: large; */
        background-color: #8cb55a;
    }
    .play-button:hover{
        font-weight: bolder;
        color: white;
        /* font-size: larger; */
        background-color: #accf6e;
    }
    .dropdown-menu{
        border: none;
    }
    .account-button{
        margin: 2vh 1vw;
        width: 11vw;
        height: 3vw;
        font-weight: bold;
        color: white;
        background-color: #8cb55a
    }
    .account-button:hover{
        font-weight: bold;
        color: white;
        background-color: #accf6e
    }
}

.ava {
    border: 2px solid transparent;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}
input.avaInput[type="radio"]:checked + label {
    border: 2px solid red;
}
.selected-promotion {
    border: 3px solid rgb(17, 209, 55);
  }
#chatModeAll:checked + .form-check-label,
  #chatModePrivate:checked + .form-check-label {
    border: none !important;
  }
.friend-icon {
    position: relative;
    display: inline-block; 
}

.add-friend-text {
    position: absolute;
    top: 100%; 
    left: 140%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 0.7vw; 
    white-space: nowrap;
    background-color: white;
    color: black; 
    padding: 6%
}

.friend-icon:hover .add-friend-text {
    opacity: 1;
}